body { font-family: Arial, sans-serif; padding: 20px; 
background-color: #400a56;}

h1 { 
    font-size: 50px; 
    margin-bottom: 5px;
    color: #dc943e; 
    text-align: center;
    padding: 15px;}

h2 { 
    font-size: 15px; 
    margin-bottom: 5px;
    color: #dc943e; 
    text-align: center;
    padding: 10px;
    }

table { border-collapse: collapse; margin-bottom: 20px; 
        margin-left: auto; margin-right: auto; 
        background-color: #8a5a9e;
        border: 2px solid #f8f2da;
        
        }
td {
            width: 50px; height: 50px;
            text-align: center;
            font-size: 24px;
            border: 1px solid #f8f2da;
            background-color: #8a5a9e;

        }
        .botones {
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
button { width: 60px; height: 40px; font-size: 16px; 
         margin: 5px; cursor: pointer; 
        background-color: #5cc6a6;
        border: wheat; color: white; border-radius: 5px; }
         