<!DOCTYPE html>
<html>
<head>
    <title >Mini Robot Web</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Mini Robot Web</h1>
    <h2>Puntos: {{puntos}}</h1>

<table>
  {% for i in range(5) %}
    <tr>
      {% for j in range(5) %}
        {% set clase = '' %}
        {% if posicion[0] == i and posicion[1] == j %}
          {% set clase = clase + 'robot ' %}  
        {% endif %}
        {% if tabla[i][j] in verdes %}
          {% set clase = clase + 'green ' %}
        {% endif %}
        {% if tabla[i][j] in rojos %}
          {% set clase = clase + 'red ' %}
        {% endif %}
       <td class="{{ clase.strip() }}">
          {% if posicion[0] == i and posicion[1] == j %}
              🤖
          {% else %}
            .
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>


    <form method="post">
    <div class="botones">
        <button name="direccion" value="arriba">↑</button>
        <button name="direccion" value="izquierda">←</button>
        <button name="direccion" value="abajo">↓</button>
        <button name="direccion" value="derecha">→</button>
        </div>
    </form>
</body>
</html>
